:root {
  --color-background: #fff;

  --color-accent: #14c500;
  --color-accent-soft: #0f9500;

  --color-heading: #008dc5;
  --color-text: #2c00ae;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #000000;

  --color-accent: #14c500;
  --color-accent-soft: #77ff68;

  --color-heading: #008dc5;
  --color-text: #2c00ae;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: monospace, sans-serif;
  background: var(--color-background);
}
